<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <title>Online Shop</title>
</head>
<body>
<main>
    <div class="container">
        <div th:text="${product.id}"></div>
        <div th:text="${product.name}"></div>
        <div th:text="${product.opis}"></div>
        <div>
            <img th:src="@{${product.slika}}"/>
        </div>
    </div>
</main>

</body>
</html>