<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Devices Shop</title>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<main>
    <div class="container">
        <form class="form" method="post" action="/products/add">
            <div class="form-group">
                <label for="productName">Name</label>
                <input id="productName" type="productName" class="form-control" th:field="*{product.name}" name="name" placeholder="Enter name" required>
            </div>
            <div class="form-group">
            <label for="productOpis">Opis</label>
            <input id="productOpis" class="form-control" type="productOpis" th:field="*{product.opis}" name="opis" placeholder="Enter opis" required>
            </div>

            <div class="form-group">
                <label for="productSlika">Link od slika</label>
                <input id="productSlika" class="form-control" type="productSlika" th:field="*{product.slika}" name="slika" placeholder="Staj slika" required>
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer:</label>
                <select id="manufacturer" class="form-control" th:field="*{product.manufacturer.id}" required>
                    <option th:each="m : ${manufacturerList}" th:value="${m.id}" th:text="${m.mname}">

                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="category">Manufacturer:</label>
                <select id="category" class="form-control" th:field="*{product.category.id}" required>
                    <option th:each="m : ${categories}" th:value="${m.id}" th:text="${m.cname}">

                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>

</body>
</html>
